html {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 150%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 150%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: #e5e5e5;
  padding: 20px;
  max-width: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #f8f8f8;
  padding: 10px;
}

.right-btn {
  text-align: right;
}

.btn-basic, .login-btn, .logout-btn {
  padding: 10px 16px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}

.logout-btn {
  color: #ffffff;
  background-color: #a3a3a3;
  border: 1px solid #a3a3a3;
}
.logout-btn:hover {
  color: #ffffff;
}

.login-btn {
  border: 1px solid #dc3545;
  color: #dc3545;
}
.login-btn:hover {
  color: #ffffff;
  background-color: #dc3545;
}

.count-box {
  border: 1px solid #a3a3a3;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.count-box p {
  color: #a3a3a3;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 1.25rem;
}

.box-content {
  border: 1px solid #a3a3a3;
  background-color: #ffffff;
  padding: 15px 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.box-content .icon {
  background-color: #000000;
  padding: 10px 13px;
  border-radius: 3px;
}
.box-content .icon i {
  color: #ffffff;
}
.box-content h6 {
  font-weight: 500;
  color: #a3a3a3;
  margin-top: 14px;
}
.box-content p {
  font-size: 12px;
  line-height: 13px;
  color: #000000;
  margin-top: 16px;
}

.side-top-box {
  border: 1px solid #a3a3a3;
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.inner-content h6 {
  font-weight: 500;
}

.line {
  border-bottom: 2px solid #e2e2e2;
  margin: 4px 0px;
}

.border-right {
  border-right: 1px solid #e2e2e2;
}

.side-top-content h6 {
  font-size: 12px;
  color: #a3a3a3;
}
.side-top-content p {
  font-size: 14px;
  color: #000000;
  margin-left: 5px;
}
.side-top-content i {
  margin-right: 5px;
  font-size: 12px;
}

.accordion-button {
  padding: 4px !important;
  font-size: 13px !important;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: none !important;
}

.accordion-body {
  padding: 4px 7px;
  font-size: 13px;
}

.badge, .badge-yellow, .badge-red, .badge-green {
  padding: 2px 10px;
  font-size: 12px;
  margin-right: 12px;
}

.badge-green {
  background-color: #f1fcf6;
  color: #39b871;
}

.badge-red {
  background-color: #fcded6;
  color: #eb1513;
}

.badge-yellow {
  background-color: #fcfcf4;
  color: #fdc611;
}

.submit-btn {
  margin-top: 14px;
  border: 1px solid #dc3545;
  padding: 8px 12px;
  color: #dc3545;
  border-radius: 3px;
}
.submit-btn:hover {
  background-color: #dc3545;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .tiles {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 5px;
  }
}
@media (max-width: 767.98px) {
  .right-btn {
    margin-top: 25px;
    text-align: left;
  }
  .mobile-mt {
    margin-top: 12px;
  }
}/*# sourceMappingURL=style.css.map */