$color_1: #fff;
$color_2: #000000;
$color_3: #dc3545;
$color_4: #ffffff;
$color_5: #a3a3a3;
$color_6: #fdc611;
$color_7: #eb1513;
$color_8: #39b871;
$font-family: "Lato", sans-serif;
$background-color_1: #e5e5e5;
$background-color_2: #f8f8f8;
$background-color_3: #dc3545;
$background-color_4: #a3a3a3;
$background-color_5: #ffffff;
$background-color_6: #000000;
$background-color_7: #fcfcf4;
$background-color_8: #fcded6;
$background-color_9: #f1fcf6;
$border-color_1: none;

html {
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 150%;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 150%;
	height: 100%;
	font-family: $font-family;
	background-color: $background-color_1;
	padding: 20px;
	max-width: 100%;
	position: relative;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.3;
	font-weight: 500;
	color: $color_2;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
.wrapper {
	background-color: $background-color_2;
	padding: 10px;
}
.right-btn {
	text-align: right;
}
.btn-basic {
	padding: 10px 16px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
}
.logout-btn {
	@extend .btn-basic;
	color: $color_4;
	background-color: $background-color_4;
	border: 1px solid #a3a3a3;
	&:hover {
		color: $color_4;
	}
}
.login-btn {
	@extend .btn-basic;
	border: 1px solid #dc3545;
	color: $color_3;
	&:hover {
		color: $color_4;
		background-color: $background-color_3;
	}
}
.count-box {
	border: 1px solid #a3a3a3;
	padding: 10px;
	background-color: $background-color_5;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	p {
		color: $color_5;
	}
}
.tiles {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	margin-top: 1.25rem;
}
.box-content {
	border: 1px solid #a3a3a3;
	background-color: $background-color_5;
	padding: 15px 5px;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	.icon {
		background-color: $background-color_6;
		padding: 10px 13px;
		border-radius: 3px;
		i {
			color: $color_4;
		}
	}
	h6 {
		font-weight: 500;
		color: $color_5;
		margin-top: 14px;
	}
	p {
		font-size: 12px;
		line-height: 13px;
		color: $color_2;
		margin-top: 16px;
	}
}
.side-top-box {
	border: 1px solid #a3a3a3;
	background-color: $background-color_5;
	padding: 5px;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.inner-content {
	h6 {
		font-weight: 500;
	}
}
.line {
	border-bottom: 2px solid #e2e2e2;
	margin: 4px 0px;
}
.border-right {
	border-right: 1px solid #e2e2e2;
}
.side-top-content {
	h6 {
		font-size: 12px;
		color: $color_5;
	}
	p {
		font-size: 14px;
		color: $color_2;
		margin-left: 5px;
	}
	i {
		margin-right: 5px;
		font-size: 12px;
	}
}
.accordion-button {
	padding: 4px !important;
	font-size: 13px !important;
	&:not(.collapsed) {
		color: $color_2 !important;
		background-color: $background-color_5 !important;
		box-shadow: none;
	}
	&:focus {
		border-color: $border-color_1 !important;
	}
}
.accordion-body {
	padding: 4px 7px;
	font-size: 13px;
}
.badge {
	padding: 2px 10px;
	font-size: 12px;
	margin-right: 12px;
}
.badge-green {
	@extend .badge;
	background-color: $background-color_9;
	color: $color_8;
}
.badge-red {
	@extend .badge;
	background-color: $background-color_8;
	color: $color_7;
}
.badge-yellow {
	@extend .badge;
	background-color: $background-color_7;
	color: $color_6;
}
.submit-btn {
	margin-top: 14px;
	border: 1px solid #dc3545;
	padding: 8px 12px;
	color: $color_3;
	border-radius: 3px;
	&:hover {
		background-color: $background-color_3;
		color: $color_4;
	}
}
@media (max-width: 1000px) {
	.tiles {
		grid-template-columns: repeat(2, 1fr);
		-moz-column-gap: 1rem;
		column-gap: 1rem;
		row-gap: 1rem;
		padding: 5px;
	}
}
@media (max-width: 767.98px) {
	.right-btn {
		margin-top: 25px;
		text-align: left;
	}
	.mobile-mt {
		margin-top: 12px;
	}
}
